@charset "utf-8";
/* CSS Document */

body{
    background-color: #fff;
    background: url(images/.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
    font-size:14px; 
    line-height:1.5;
    letter-spacing:.5px;
    font-family: Verdana, Geneva, sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #55186d;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
}

input[type=submit]:hover {
    background-color: #46427A;
    color:#eee;
}
  h2{
	  color:#55186d; 
      font-weight:bold; 
      text-transform: capitalize; 
      font-size:20px; 
      text-align:center;
	  
	  }

    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
   line-height:1.5; font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 0;
	padding-left:30px;
	padding-bottom:0px;
	padding-top:10px;
    border: 0;
    font-size: 14px !important;
	text-transform:capitalize;
    background-color: #55186d;
	min-height:50px;
    opacity:1;
	font-weight:bold;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color:#fff !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color:#eee !important;
	border-bottom:;
}

/* The active link */
.navbar-nav li.active a {
    color:#ddd;
    
}
/* Form body*/
#formbd{
    letter-spacing:.5px; line-height:1.5; font-family: Verdana, Geneva, sans-serif;
    margin:auto; 
    max-width:500px; 
    border:thin #55186d solid; 
    min-height:550px; 
    max-height:; 
    border-radius:10px; 
    background-color:#fff; 
    color: #333; 
    padding:10px;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
/* Format Amortization table */
 table, th, td {
    border: 0px solid #55186d;
    border-collapse: collapse;
}
td {
    padding: 10px;
	
}
th {
    padding: 10px;
    text-align: center;
}
table#mytable tr:nth-child(even) {
    background-color: #eee;
}
table#mytable tr:nth-child(odd) {
   background-color:#fff;
}
table#mytable th	{
    background-color:#55186d;
    color: white;
}  
    /* Add a gray background color and some padding to the footer */
    footer {
	  background-color: red;
      padding: 25px;
    }
	.container{padding:0px; margin-bottom:5px; margin-top:5px;
	}
	
	

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}  



.thumbnail{ border:none;}